<section class="contact-edit-container">
     <h1 *ngIf="contact._id">Edit your profile</h1>
    <h1 *ngIf="!contact._id" >New Contact</h1>
        <form (ngSubmit)="saveContact($event)">
            <label> Name:
            <input [(ngModel)]="contact.name" type="text" name="name" />
            </label>
            <label> Phone:
            <input [(ngModel)]="contact.phone" type="text" name="phone"/>
            </label>
            <label> Email:
            <input [(ngModel)]="contact.phone" type="email" name="email"/>
            </label>
            <button>
                Save Contact
            </button>
        </form>
        <button (click)="cancel()">
            Cancel
        </button>
    </section>
